* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('imagens/pexels-victorfreitas-703016.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

.navbar-container {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    font-family: 'Alan';
    position: fixed;
    
    top: 0;
    left: 0;
    z-index: 1000;

}

.navbar-esquerda {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    height: 70px;
    width: auto;
    margin-top: 3px;
}

.opcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    gap: 40px;
}

.chamada {
    color: white;
    text-align: center;
    font-family: 'Alan';
    text-shadow: 2px 2px 8px black;
    margin-top: 100px;
    
}

.chamada h2 {
    font-family: 'LemonRegular';
}



.swiper {
    border-radius: 24px;
    width: 45%;
    height: 500px;
    margin-top: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-pagination-bullet {
    background-color: white !important;
    opacity: 0.7 !important;
}


.swiper-pagination-bullet-active {
    background-color: #4682B4 !important;
    opacity: 1 !important;
}



@font-face {
    font-family: 'Alan';
    src: url('fontes/AlanSans-Regular.ttf');
}

@font-face {
    font-family: 'LemonRegular';
    src: url('fontes/LEMONMILK-Regular.otf');
}

.sair {
    display: inline-block;
    background: linear-gradient(135deg, #325b7ea1, #4682B4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'LemonRegular', serif;
    font-size: 14px;
}

.cadastro {
    display: inline-block;
    background: linear-gradient(135deg, #325b7ea1, #4682B4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'LemonRegular', serif;
    font-size: 14px;
    display: flex;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-planos {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 150px;
    color: white;
    margin-top: 80px;
}

.container-planos h1 {
    font-family: 'LemonRegular';
}

.container-planos li {
    font-family: 'Alan';
    margin-bottom: 10px;
}

.plano1 {
    width: 350px;
    height: 800px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(10px);
    flex-direction: column;
    margin-bottom: 250px;
    padding-bottom: 0px 200px;
}

.plano2 {
    width: 350px;
    height: 800px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(10px);
    flex-direction: column;
}

.plano3 {
    width: 350px;
    height: 800px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(10px);
    flex-direction: column;
}

.plus {
    background-image: linear-gradient(135deg, #001f3f, #007bff);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(2px 2px 1px white)
}

.black {
    background-image: linear-gradient(135deg, #00366d, #002552);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(2px 2px 3px white)
}

.plano1 ul{
    margin: 10px;
}
.plano2 ul{
    margin: 10px;
}
.plano3 ul{
    margin: 10px;
}

.separador {
    width: 100%;
    margin-top: auto; 
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}