* {
    box-sizing: border-box;
   
}
 
html {
    scroll-behavior: smooth;
}
 
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background-color: black;
}
 
a {
    text-decoration: none;
    color: white;
}
 
.navbar-container {
    display: flex;
   
    background-color: rgb(0, 0, 0);
    height: 70px;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    font-family: 'Alan';
    position: fixed;
   
 
    top: 0;
    left: 0;
    z-index: 1000;
   
}
 
.opcoes a{
    filter: drop-shadow(0px 0px 0.5px rgba(255, 255, 255, 0.7));
    transition: all 0.3s ease;
}
 
.navbar-esquerda {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 18px;
    margin-left: 20%;
}
 
.opcoes {
    margin-left: 30%;
}

.opcoes a:hover {
    text-shadow: 0px 0px 10px white;
} 
 
.logo {
    height: 40px;
    width: auto;
    margin-bottom: 12px;
    transition: all 0.3s ease;
}

.logo:hover {
    filter: drop-shadow(0px 0px 10px white);
}
 
.opcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    gap: 40px;

}
 
.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.chamada {
    height: 100vh;
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    
}

.chamada a {
    display: inline-block;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Fakt';
    font-size: 20px;
    height: 70px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.chamada h1{
    z-index: 8;
    position: relative;
    color: white;
    text-align: left;
    font-size: 80px;
    font-family: 'Fakt';
    margin-left: 120px;
}

.efeito-vinheta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    background-image: radial-gradient(circle, transparent 50%, black 100%);
    opacity: 1;
}

.fade-video {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1000px;
    z-index: 1;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    
}
 
@font-face {
    font-family: 'Alan';
    src: url('fontes/AlanSans-Regular.ttf');
}
 
@font-face {
    font-family: 'LemonRegular';
    src: url('fontes/LEMONMILK-Regular.otf');
}

@font-face {
    font-family: 'Fakt';
    src: url('fontes/fakt-bd.ttf');
}

 
.cadastro {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'LemonRegular', serif;
    font-size: 14px;
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
}

.cadastro:hover {
    color: black;
    background-color: white;
}
 
.container-planos {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 150px;
    color: white;
    scroll-margin-top: 100px;
}
 
.container-planos h1 {
    font-family: 'LemonRegular';
}
 
.container-planos li {
    font-family: 'Alan';
    margin-bottom: 10px;
}
 
.plano1 {
    width: 350px;
    height: 650px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(10px);
    flex-direction: column;
    margin-bottom: 250px;
    padding-bottom: 0px 200px;
    border-radius: 20px 30px;
    box-shadow: 0px 0px 20px #ffffff;
}
 
.plano2 {
    width: 350px;
    height: 650px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(10px);
    flex-direction: column;
    border-radius: 20px 30px;
    box-shadow: 0px 0px 20px #ffffff;
}
 
 
.plano3 {
    width: 350px;
    height: 650px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(10px);
    flex-direction: column;
    border-radius: 20px 30px;
    box-shadow: 0px 0px 20px #ffffff;
   
}
 
.plus {
    text-shadow: 0px 0px 5px white;
}
 
.black {
    background-color: white;
    color: black;
    border-radius: 4px;
}
 
.plano1 ul{
    margin: 10px;
}
.plano2 ul{
    margin: 10px;
}
.plano3 ul{
    margin: 10px;
}
 
 
.botao-vai {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 80px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    font-family: 'LemonRegular';
    width: 155px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
}


.botao-vai:hover{
    background-color: white;
    color: black;
}


.swiper-modalidades {
    width: 90%;
    max-width: 1400px; 
    height: 500px;
    margin: 30px auto 80px auto; 
    border-radius: 10px;
    position: relative;
    
}

.swiper-modalidades .swiper-slide {
    position: relative; 
    border-radius: 10px;
    overflow: hidden; 
    background: #222;
    box-shadow: 0px 0px 0px white;

    transition: all 0.3s ease;
}

.swiper-modalidades .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.8;
}


.swiper-modalidades .slide-texto {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 20px;
    color: white;
    font-family: 'LemonRegular', sans-serif;
    font-size: 1.8rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    
   
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
}

.swiper-modalidades .slide-texto h3 {
    margin: 0; 
}


.swiper-slide:hover{
    box-shadow: 0px 0px 20px white;
}

.titulo-modalidades {
    color: white;
    font-family: 'Fakt';
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
    scroll-margin-top: 90px;
}