*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(135deg, #001f3f, #007bff);

}

@font-face {
  font-family: 'Designer';
  src: url('../fontes/Designer.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'LemonRegular';
    src: url('../fontes/LEMONMILK-Regular.otf') format('opentype'); 
}

@font-face {
    font-family: 'LemonRegularItalic';
    src: url('../fontes/LEMONMILK-RegularItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Alan';
    src: url('../fontes/AlanSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.dados {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.445);
    border-radius: 20px;
    width: 550px;
    height: 550px;
 
    display: flex;
    justify-content: flex-start;
    padding-top: 25px;
 
    position: absolute;
    top: 55%;
    left: 71%;
    transform: translate(-50%, -50%);
 
    font-family: 'Alan';
    flex-direction: column;
    align-items: center;
   
}
 
.dados label {
    font-family: 'Alan';
    color: #4682B4;
}

.titulo{
    position: absolute;
    top: -4%;
    left: 38%;
    width: 400px;
    height: 250px;
}
 
.dados input{
    background: rgba(158, 234, 253, 0);
    width: 100%;
    padding: 8px;
    padding-right: 35px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: 'Alan';
    font-size: 12px;
    box-sizing: border-box;
}


.input-container{
    position: relative;
    width: 50%;
    height: 30px;
} 

.input-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.dados label{
    font-weight: bold;
   
}

button {
    background: linear-gradient(135deg, #325b7ea1,#4682B4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'LemonRegular', serif; 
    font-size: 14px;
}

input::placeholder {
    color: #a9a9a9;;
    font-family: 'Alan';
}

.containerbv{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imagens/ivan-theodoulou-N2CsnOtbLRU-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid rgba(255, 255, 255, 0.445);
    border-radius: 20px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37);
    width: 550px;
    height: 550px;
 
    display: flex;
    justify-content: center;
    align-items: center;
 
    position: absolute;
    top: 55%;
    right: 37%;
    transform: translate(-50%, -50%);
 
    font-family: 'Alan';
    flex-direction: column;
    color: #ffffff;
}

.mensagem{
    margin: 2px;
    display: flex;
    position: absolute;
    text-align: center;
    bottom: 20%;
    font-size: 20px;
}

.bv{
    position: absolute;
    top: 42%;
}

.logo{
    position: absolute;
    bottom: 69%;
    width: 150px;
    height: auto;
    left: 37%;
}

.vailogin{
    text-decoration: none;
    color: #4682B4;
    display: flex;
    position: absolute;
    bottom: 10%;
}