body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, #001f3f, #007bff);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@font-face {
    font-family: 'LemonRegular';
    src: url('../fontes/LEMONMILK-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Alan';
    src: url('../fontes/AlanSans-Regular.ttf');
}

.container-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
}

.container-bemvindo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../imagens/ivan-theodoulou-N2CsnOtbLRU-unsplash.jpg');
    background-size: cover;
    background-position: center;
    padding: 8px;
    border-radius: 20px;
    color: white;
    width: 100%;
    max-width: 500px;
    height: 520px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-bemvindo img{
    width: 150px;
    height: auto;
    
    position: relative;
    top: -50px;
}

.container-bemvindo h2{
    font-family: 'LemonRegular', sans-serif;
    font-size: 40px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
   
}

.input-container {
    position: relative;
    width: 85%;
    height: 45px;
}

.container-bemvindo p{
    font-family: 'Alan';
    font-size: 20px;
    text-align: center;
}

.container-formulario{
    background-color: white;
    padding: 8px;
    border-radius: 20px;
    color: white;
    width: 100%;
    max-width: 500px;
    height: 520px;
    
    
}

.container-formulario form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    margin-top: 25px;
}

.container-formulario label{
    font-family: 'Alan';
    font-weight: bold;
    font-size: 18px;
    width: 85%;
    color: #4682B4;
}

.input-container{
    position: relative;
    width: 85%;
    height: 40px;
}

.input-container i{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #4682B4;
}

.container-formulario input{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
}

.container-formulario input::placeholder{
    font-family: 'Alan';
    font-size: 16px;
}

.logo-titulo {
    margin-top: -30px;
}

.container-formulario button {
    display: inline-block;
    background: linear-gradient(135deg, #325b7ea1,#4682B4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'LemonRegular', serif; 
    font-size: 14px;
}

.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
}

.container-formulario a{
    text-decoration: none;
    color: #4682B4;
    font-family: 'Alan';
}

/*Para a página de login */

.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
}


.container-formulario-login{
    background-color: white;
    padding: 8px;
    border-radius: 20px;
    color: white;
    width: 100%;
    max-width: 500px;
    height: 520px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-formulario-login form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    margin-top: 25px;
}

.container-formulario-login label{
    font-family: 'Alan';
    font-weight: bold;
    font-size: 18px;
    width: 85%;
    color: #4682B4;
}


.container-formulario-login input{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
}

.container-formulario-login input::placeholder{
    font-family: 'Alan';
    font-size: 16px;
}


.container-formulario-login button {
    display: inline-block;
    background: linear-gradient(135deg, #325b7ea1,#4682B4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'LemonRegular', serif; 
    font-size: 14px;
}

.container-formulario-login a{
    text-decoration: none;
    color: #4682B4;
    font-family: 'Alan';
}

.container-formulario-login img {
    width: 150px;
    height: auto;
    
    
   
}