body{
    background-image: linear-gradient(135deg, #001f3f, #007bff);

}

@font-face {
  font-family: 'Designer';
  src: url('../fontes/Designer.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'LemonRegular';
    src: url('../fontes/LEMONMILK-Regular.otf') format('opentype'); 
}

@font-face {
    font-family: 'LemonRegularItalic';
    src: url('../fontes/LEMONMILK-RegularItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Alan';
    src: url('../fontes/AlanSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.dados {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.445);
    border-radius: 20px;
    width: 550px;
    height: 465px;
 
    display: flex;
    justify-content: center;
    align-items: center;
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
    font-family: 'Alan';
    flex-direction: column;
}
 
.dadosdados{
    width: 100%;
    position: absolute;
    top: 34%;
    left: 25%;
}

.dadosdados button {
    
    position: absolute;
    top: 120%;
    left: 17%;
}

.logologin img{
    width: 100px;
    height: auto;
    display: flex;
    position: absolute;
    left: 41%;
    top: 4%;
}

.dados label {
    font-family: 'Alan';
    color: #4682B4;
}

.titulo{
    position: absolute;
    top: 5%;
    left: 38%;
    width: 400px;
    height: 250px;
}
 
.dados input{
    background: rgba(158, 234, 253, 0);
    width: 100%;
    padding: 8px;
    padding-right: 35px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: 'Alan';
    font-size: 12px;
    box-sizing: border-box;
}

.input-container{
    position: relative;
    width: 50%;
    height: 30px;
} 

.input-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.dados label{
    font-weight: bold;
   
}

button {
    background: linear-gradient(135deg, #325b7ea1,#4682B4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'LemonRegular', serif; 
    font-size: 14px;
}

input::placeholder {
    color: #a9a9a9;;
    font-family: 'Alan';
}

a{
    text-decoration: none;
    color: #4682B4;
}

.input-esqueceu button{
    display: flex;
    position: absolute;
   bottom: 27%;
   left: 40%;
    
}